* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    position: absolute;
    background-color: rgb(255, 102, 0);
    text-align: center;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #FFF;
    font-size: 30px;
}

.quiz-area-total {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-header {
    background-color: grey;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.quiz-area {
    width: 600px;
    height: 400px;
    background-color: greenyellow;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: rgb(255, 102, 0);
    text-align: center;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #FFF;
    font-size: 15px;
}
